.settings {
  background: url('../../../public/assets/spices-home.jpg') center center repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: space-between;
  flex-direction: column;
  background-color: var(--light-color);
}
.settings::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.5),
    rgba(0, 0, 0, 0.7)
  );
}
.btnHome {
  width: 80vw;
  text-align: center;
  margin-top: 10vh;
  background: var(--light-color);
  z-index: 1;
}
